// Colours
$black: #000000;
$verydarkgrey: #302f2f;
$darkgrey: #585757;
$grey: #737373;
$midgrey: #b2b2b2;
$lightgrey: #d1d1d1;
$white: #ffffff;
$green: #86f132;
$yellow: #f8b13a;
$pink: #d51d81;
$blue: #40b1f5;
$darkblue: #4d4bc3;
$purple: #612587;
$orange: #f15e25;
