@use "colours" as *;

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h1 {
  line-height: 115%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem; // Fallback
  font-size: clamp(
    2rem,
    7vw,
    4.2rem
  ); // Min, Variable (including space for scrollbar), Max
  letter-spacing: -0.09rem; // Fallback
  overflow-wrap: break-word; // Backup in case string is too large for container
  text-align: center;
  text-transform: uppercase;
}

h2 {
  line-height: 115%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem; // Fallback
  font-size: min(max(1.5rem, 4vw), 5rem); // Min, Variable, Max
  letter-spacing: -0.04rem;
}

h3 {
  line-height: 115%;
  margin-bottom: 1rem;
  font-size: 1.2rem; // Fallback
  font-size: min(max(1.2rem, 3vw), 1.8rem); // Min, Variable, Max
}

p {
  margin-bottom: 1rem;
  line-height: 120%;
}

strong,
.bold {
  font-weight: bold;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}
