@use "../styles/_reset.scss" as *;
@use "colours" as *;
@use "type" as *;

:root {
  --page-feature-color: #{$pink};
}

body {
  background-color: $black;
  color: $white;
}

a {
  color: var(--page-feature-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  padding: 40px;
}

@media (max-width: 700px) {
  .container {
    padding: 20px;
  }
}
